*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background: #b69898;
}
.conatiner{
    max-width: 900px;
    margin: 0 auto;
}
.apply_box{
    max-width: 650px;
    padding: 20px;
    background-color:white;
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: 5px 4px 2px ;
    border-radius: 15px;
}
.title_small{
    font-size: 20px;
}